:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --alternative-text-color: #2196f3;
  --white-words: #ffffff;
  --bg-color: #2f303a;
  --bg-button: #F5F4FA;
}

html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

.page {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--white-words);
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
}

/* Buttons */

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  color: var(--title-text-color);
  background-color: var(--bg-button);
  cursor: pointer;
  text-decoration: none;

}

.button:hover,
.button:hover {
  background-color: var(--alternative-text-color);
  color: var(--white-words);
}

.primary {
  width: 200px;
  height: 50px;
  background: var(--alternative-text-color);
  color: var(--white-words);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  outline: 2px solid tomato;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin-top:0;
  margin-bottom: 0;
}
 
h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

ul {
  padding-inline-start: 0;
}

/* Header */
.page-header {
  outline: 2px solid tomato;
}

.logo {
  color: var(--alternative-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-2nd-part {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* site nav */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--alternative-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .current {
  color: var(--alternative-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* authoriz-nav*/

.authoriz-nav .item {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
}

.authoriz-nav .item:hover,
.authoriz-nav .item:focus {
  color: var(--alternative-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.authoriz-nav {  
  margin-bottom: 0;
  margin-top: 0;
}


/* Main page */
/* Главная часть */

.section-hero {
  width: 1600px;
  height:  600px;
  background: var(--bg-color);
  outline: 2px solid green;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.section-hero .title {
  color: var(--white-words);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  outline: 2px solid red;
  margin-top: 200x;
  margin-bottom: 30px;
}

.principles .principe-item {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  outline: 2px solid tomato;
}

.principles .text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.our-work .works-title {
  margin-bottom: 50px;
}

.our-team {
  background-color: #f5f4fa;
}

.our-team .team-title {
  margin-bottom: 50px;
}

.worker-image {
  margin-bottom: 30px;
}

.workers-title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.workers .text {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Portfolio */

.portfolio-page {
  font-family: Roboto, sans-serif;
  background-color: var(--white-words);
  color: var(--main-text-color);
}

/* nav-section */

.portfolio-nav {
  margin-top: 0;
  margin-bottom: 0;
}
/* Projects */
.projects-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-works {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* footer section*/
.footer {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

.logo-2nd-part-footer {
  color: var(--white-words);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer .text {
  color: var(--white-words);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-link .item {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
